/*-- Diseño del fondo --*/
body, html{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(Img/Fondo\ pag.webp) center center;
    background-size: cover;
}
.Contenedor{
    text-align: center;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.Boton-Bienvenida{
    background-color: #05B0FF;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
    text-decoration: none;
}
.Boton-Bienvenida:hover{
    background-color: #0533ff;
}
.Logo-pagina{
    border-radius: 5px;
}

